/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Dec, 2015, 2:48:53 PM
    Author     : rajesh
*/

$default-color: #929596;
$primary-color: #0099cc;
$success-color: #40c40c;
$white-color: #ffffff;
$black-color: #000000;
