/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1 Dec, 2015, 2:48:53 PM
    Author     : rajesh
*/

$whiteColor: #ffffff;
$blackColor: #000000;

/* Text Color variables */
$greyTextDefault: #535659;
$greyTextHeadings: #333333;
$greyTextDesc: #999e9f;
$approvedText: #40c40c;
$warnText: #ffc411;
$rejectText: #ef403c;
$linkText: #0099cc;


/* Button Color variables */
$defaultButtonColor: #929596;
$primaryButtonColor: #0099cc;
$successButtonColor: #40c40c;
$warnButtonColor: #ffc411;
$rejectButtonColor: #ef403c;
$rateButtonColor: #344987;
$disabledButtonColor: #b9b9b9;

/* Button Hover Colors */
$defaultButtonHover: #77797a;
$primaryButtonHover: #0087b4;
$successButtonHover: #37a90a;
$warnButtonHover: #f5b902;
$rejectButtonHover: #ee0e09;
$rateButtonHover: #273a71;


/* Table border colors */

$tableBorderColor: #c6cbcc;
